@import "../_mixins";

.privacy {
  &__wrapper {
    &-header {
      font-weight: bolder;
      font-size: 26px;

      display: flex;

      margin-bottom: 10px;

      .vicon {
        justify-content: flex-start;
        text-decoration: none;
      }

      .terms {
        margin: 0 auto;
      }
    }
    
    &-content {
      font-size: 20px;
    }
  }
}
