@import "../../_mixins";

.sender {
  &__wrapper {
    box-sizing: border-box;
    border-radius: 12px;

    padding: 19px 28px 14px 27px;

    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.13335);

    &-second {
      display: none;
    }

    &-condata {
      @include generalNormalFont14;

      margin: 14px 0 18px 0;

      letter-spacing: 0.27px;

      color: #000000;

      @media (max-width: $breakpoint-mobile440) {
        @include generalNormalFont13;

        line-height: 15px;
      }
    }

    &-phone {
      .phone__receiver {
        border-radius: 8px;

        background: #f8f8f8;

        .phone__description {
          @include generalNormalFont12;

          padding: 4px 0 10px 5px;

          color: #007aff;
          .v-input__slot {
            @include generalNormalFont16;

            letter-spacing: -1.49012e-9px;

            color: #000000;
          }
        }
      }

      .phone__question {
        margin: 15px 0 9px 0;
      }
      .phone__datetime {
        display: flex;
        justify-content: space-between;

        margin-bottom: 15px;
      }
      .phone__sender {
        border-radius: 8px;

        margin-bottom: 20px;

        background: #f8f8f8;

        .v-input__control {
          .v-input__slot {
            .v-text-field__slot {
              padding: 21px 0 18px 8px;
            }
          }
        }
      }
      .phone__sub-btn {
        &-send {
          @include generalNormalFont16;

          border-radius: 14px;

          text-align: center;

          color: #ffffff !important;
        }
      }

      .v-text-field {
        margin-top: 0;
        padding: 0;

        .v-input__control {
          border-color: #007aff !important;

          .v-input__slot {
            margin-bottom: 0;

            &:before {
              @include textDecorBlue;
            }

            &:after {
              @include textDecorBlue;
            }
          }

          .v-text-field__details {
            display: none;
          }
        }
      }
    }

    @media(max-width: $breakpoint-tablet) {
      width: 400px;

      margin: 0 auto;
    }

    @media(max-width: $breakpoint-mobile560) {
      width: auto;

      margin: 0 auto;
    }

    @media (max-width: $breakpoint-mobile440) {
      padding: 16px 6px 14px 0px;

      box-shadow: none;
    }
  }

}
@media (max-width: $breakpoint-mobile440) {
  .sender {
    &__wrapper {
      &-first {
        display: none;
      }
      &-second {
        display: block;
      }
    }
  }
}
