@import "../_mixins";

.minutes {
  position: relative;

  border-radius: 8px;

  background: #f8f8f8;

  @media (max-width: $breakpoint-mobile411) {
    margin: 0;
  }

  .v-expansion-panel__header {
    background-color: #f8f8f8;
  }

  .v-input__control {
    width: 74px;

    padding: 10px 10px 10px 15px;

    border-color: #f8f8f8;

    .v-input__slot {
      &:after {
        @include textDecorCream;
      }

      &:before {
        @include textDecorCream;
      }

      .v-menu {
        .v-menu__content {
          top: 30px !important;
          left: -15px !important;

          .v-list__tile {
            height: 30px;

            margin-right: 10px;
          }
        }
      }
      .v-input__icon {
        padding-right: 5px;

        @media (min-width: $breakpoint-mobile320) and (max-width: $breakpoint-mobile375){
          padding-right: 17px;
        }
        
      }
    }

    @media (max-width: $breakpoint-mobile411) {
      width: 68px;

      padding: 10px 0px 10px 9px;
    }

    @media (max-width: $breakpoint-mobile375) {
      font-size: 14px;

      width: 60px;

      padding: 10px 0px 10px 12px;
    }

    @media (min-width: $breakpoint-mobile320) and (max-width: $breakpoint-mobile375){
      width: 48px;

      padding: 10px 0px 10px 9px;
    }

  }
}
