<template lang="pug">
    .tos
        .tos__wrapper-header
            router-link.vicon(to="/") 
                v-icon(large color="green") keyboard_arrow_left
            span.terms Term of Services
        .tos__wrapper-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta mi 
            |luctus turpis pretium sollicitudin. Pellentesque vestibulum metus massa, sed efficitur 
            |neque pellentesque at. Duis nec massa sit amet augue euismod condimentum vel eu dolor.
            |Proin vitae pharetra mi, et dapibus risus. Nullam vel luctus nunc, eget sollicitudin 
            |felis. Aenean tristique diam orci, venenatis pharetra odio tincidunt a. Integer ultrices,
            |lectus sit amet egestas eleifend, felis urna mattis arcu, vitae sollicitudin tellus urna 
            |ac felis. Nunc eu volutpat nisl, ac fermentum ipsum. Aenean consectetur diam et mauris dictum,
            |non faucibus velit suscipit. Aliquam auctor congue diam eu venenatis. Nunc pellentesque, nibh
            |quis bibendum porta, diam odio sollicitudin enim, et gravida ex ipsum vel ligula.
            |Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tincidunt gravida 
            |nisl in maximus. Phasellus lacus ante, pulvinar nec mauris a, ornare convallis sem. Duis vitae
            |ultrices nisi, a laoreet sem. Nulla lobortis eu mi in egestas. Quisque aliquet dui eu sapien 
            |suscipit, quis tempus sem ornare. Phasellus a imperdiet nisi. Nam eleifend lectus tincidunt, 
            |feugiat nulla eget, aliquet tellus. Vestibulum gravida sapien mi. Fusce placerat ullamcorper 
            |tortor, nec gravida elit dapibus eu. Ut consectetur nec arcu quis molestie. Integer bibendum
            |arcu sed ullamcorper auctor. Pellentesque habitant morbi tristique senectus et netus et 
            |malesuada fames ac turpis egestas. Quisque a magna in eros tincidunt eleifend quis non sem. 
            |Aenean sollicitudin nec urna eget ullamcorper.
</template>

<style lang="scss" scoped>
@import "../../assets/styles/tos/tos.scss";
</style>