@import "../_mixins";

.moreQuestion {
  border-radius: 12px;

  background-color: #fff;

  &__wrapper {
    padding: 16px 20px 20px 26px;

    &-cont {
      .v-expansion-panel__header {
        padding-right: 0;
      }

      &-panel {
        box-shadow: none !important;
      }

      &-slot {
        @include generalNormalFont16;

        margin-left: -22px;
        color: #007aff;

        @media (max-width: $breakpoint-mobile600) {
          font-size: 13px;
        }
      }

      &-text {
        @include generalNormalFont14;

        color: #000000;
      }

      .v-card__text {
        padding: 0 55px 8px 0;
      }
    }
  }
  
  .mq__wrapper {
    display: none;

    border-radius: 12px;
    
    .v-expansion-panel {
      border-radius: 12px;
      
      .v-expansion-panel__container {
        border-radius: 12px;
      }

      .v-card.v-sheet {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    
    &-cont {
      .v-expansion-panel__header {
        padding-right: 7px;
      }
      
      &-panel {
        box-shadow: none !important;
      }
      
      &-slot {
        @include generalNormalFont16;
        
        margin-left: -22px;
        color: #007aff;
        
        @media (max-width: $breakpoint-mobile600) {
          font-size: 13px;
        }
      }
      
      &-text {
        @include generalNormalFont14;
        
        color: #000000;
      }
      
      .v-card__text {
        padding: 0 55px 8px 0;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile390) {
  .moreQuestion {
    &__wrapper {
      display: none;
    }
    .mq__wrapper {
      display: block;
    }
  }
}