@import "../_mixins";

.span {
  margin-bottom: 5px;

  &__wrapper {
    &-title {
      @include generalNormalFont24;

      letter-spacing: -0.12px;

      color: #000000;

      @media (max-width: $breakpoint-tablet) {
        font-size: 20px;
      }
    }

    &-large {
      @include generalNormalFont24;

      letter-spacing: -0.12px;

      color: #000000;
    }

    &-small {
      @include generalNormalFont21;

      letter-spacing: 0.27px;

      color: #000000;
    }

    &-ex-small {
      @include generalNormalFont16;
      
      letter-spacing: -1.49012e-9px;

      color: #000000;
    }
  }
}
