@import "../../_mixins";

.wrapper {
  &__span {
    margin-bottom: 15px;
    padding-top: 19px;
  }

  &__congrat {
    @include generalNormalFont14;

    letter-spacing: -0.0875px;

    color: #4a4a4a;

    @media(max-width: $breakpoint-tablet) {
      margin: 0 auto;
    }

  }

  &__droptab {
    .v-expansion-panel {
      outline: none;

      box-shadow: none;

      &__header {
        @include generalNormalFont14;

        padding: 12px 0;

        letter-spacing: 0.592308px;
        text-transform: uppercase;

        color: #007aff;

        &__icon {
          .v-icon {
            color: #007aff !important;
          }
        }
      }
      &__body {
        .v-card__text {
          @include generalNormalFont14;

          padding: 0px 16px 0px 0px;

          letter-spacing: -0.0875px;

          color: #4a4a4a;
        }
      }
    }

    @media(max-width: $breakpoint-tablet) {
      margin: 0 auto;
    }
    
  }

  &__droptab-320 {
    display: none;

    padding-bottom: 8px;

    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    .v-expansion-panel {
      outline: none;

      box-shadow: none;

      &__header {
        @include generalNormalFont14;

        padding: 12px 0;

        letter-spacing: 0.592308px;
        text-transform: unset;

        color: #007aff;

        &__icon {
          .v-icon {
            color: #007aff !important;
          }
        }
      }
      &__body {
        .v-card__text {
          @include generalNormalFont14;

          padding: 0px 16px 0px 0px;

          letter-spacing: -0.0875px;

          color: #4a4a4a;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__span {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $breakpoint-mobile440) {
  .wrapper {
    &__span {
      display: none;
    }

    &__congrat {
      display: none;
    }

    &__droptab {
      display: none;
    }

    &__droptab-320 {
      display: block;
    }
  }
}
