<template lang="pug">
    .span
        .span__wrapper
            span(:class=`[large ? 'span__wrapper-large' : small ? 
            'span__wrapper-small' : exSmall ? 'span__wrapper-ex-small' :
            'span__wrapper-title']`) {{ spanTitle }}
</template>

<script>
export default {
  props: {
    spanTitle: {
      type: String,
      required: true
    },
    large: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    exSmall: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/span/span.scss";
</style>