<template lang="pug">
    .minutes
      v-select(:items="generateMinutesArray" placeholder="40" hide-selected)
</template>

<script>
export default {
  computed: {
    generateMinutesArray() {
      let arr = [];
      for (let index = 0; index <= 60; index++) {
        if(index >= 0 && index <=9) {
          let elem = "0" + index;
          arr.push(elem);
        }
        if(index > 9) {
          arr.push(index);
        }
      }
      return arr;
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/minutespicker/minutespicker.scss";
</style>
