@import "../_mixins";

.player {
  &__wrapper {
    display: flex;

    &-button {
      flex-basis: 20%;

      padding: 13px;
      margin-right: 14px;

      border-radius: 12px;

      background: #fafafa;

      .icon {
        display: flex;
        align-self: start;

        .vbutton {
          outline: none;

          background-color: #007aff !important;

          .vicon {
            color: #fff;
            font-size: 54px !important;
          }
        }
      }
    }
    &-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;

      width: 100%;
      padding-top: 12px;

      border-radius: 12px;

      background: #fafafa;

      &-progress {
        display: flex;
        align-items: center;

        width: 100%;

        .v-progress-linear {
          height: 12px !important;
          margin-left: 19px;

          border-radius: 9.5px;

          &__background {
            height: 12px !important;

            background-color: #c8c8c8 !important;
          }

          &__bar {
            &__determinate {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }

        &-timer {
          @include generalNormalFont14;

          padding: 0 30px;

          text-align: center;
          letter-spacing: -0.0875px;

          color: #000000;
        }
      }

      &-description {
        @include generalNormalFont14;

        text-align: center;
        letter-spacing: -0.0875px;

        opacity: 0;
        color: #c8c8c8;
      }
    }
  }

  &__wrapper-320 {
    display: none;
    align-items: center;

    &-button {
      flex-basis: 20%;

      margin-right: 4px;

      border-radius: 12px;

      background: #fafafa;

      .icon {
        display: flex;
        align-self: start;

        .vbutton {
          outline: none;

          background-color: #007aff !important;

          .vicon {
            color: #fff;
            font-size: 24px !important;
          }
        }
      }
    }
    &-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;

      width: 100%;
      padding-top: 12px;

      border-radius: 12px;

      background: #fafafa;

      &-progress {
        display: flex;
        align-items: center;

        width: 100%;

        .v-progress-linear {
          height: 12px !important;
          margin-left: 19px;

          border-radius: 9.5px;

          &__background {
            height: 12px !important;

            background-color: #c8c8c8 !important;
          }

          &__bar {
            &__determinate {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }

          @media (max-width: $breakpoint-mobile440) {
            margin: 0;
          }
        }

        &-timer {
          @include generalNormalFont14;

          padding: 0 30px;

          text-align: center;
          letter-spacing: -0.0875px;

          color: #000000;

          @media (max-width: $breakpoint-mobile440) {
            padding: 0 20px;
          }
        }
      }

      &-description {
        @include generalNormalFont14;

        text-align: center;
        letter-spacing: -0.0875px;

        opacity: 0;
        color: #c8c8c8;

        @media (max-width: $breakpoint-mobile440) {
          @include generalNormalFont11;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile440) {
  .player {
    &__wrapper {
      display: none;
      &-320 {
        display: flex;
      }
    }
  }
}

.visible {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
