@import "../_mixins";

.footer {
  &__wrapper {
    padding-left: 28px;

    &-copywrite {
      @include generalNormalFont12;

      letter-spacing: -0.133333px;

      color: #9b9b9b;

      @media (max-width: $breakpoint-mobile500) {
        margin-bottom: 5px;
      }
    }

    &-links {
      .link {
        @include generalNormalFont12;

        margin-right: 10px;

        letter-spacing: -0.133333px;

        color: #9b9b9b;

        &:last-child {
          margin-right: 0;
        }

        @media (max-width: $breakpoint-mobile500) {
          margin-bottom: 5px;
        }
      }
      @media (max-width: $breakpoint-mobile500) {
        display: flex;
        flex-direction: column;
      }
    }
    @media (max-width: $breakpoint-mobile500) {
      padding-left: 0;
    }
  }

}
