@import "../_mixins";

.dpicker {
  &__wrapper {
    display: flex;

    margin-right: 8px;

    border-radius: 8px;

    background: #f8f8f8;

    .v-input__control {
      padding: 10px 10px 10px 15px;

      border-color: #f8f8f8;

      .v-input__slot {
        &:after {
          @include textDecorCream;
        }

        &:before {
          @include textDecorCream;
        }

        .v-input__icon {
          padding-right: 5px;
        }
      }
    }
    .v-menu {
      .v-menu__content {
        top: 510px !important;
        left: 57px !important;
      }
    }
    .v-date-picker-table {
      height: 234px;

      padding: 0 4px;

      background-color: #f8f8f8;

      .v-date-picker-table--date th {
        padding: 8px 0 8px 0;
      }

      .v-picker {
        .v-card__actions {
          padding: 0;
          justify-content: center;

          .spacer {
            flex-grow: unset;
          }
        }
      }
    }
    .vicon {
      margin: 0 5px 0 12px;
    }
  }
  &__wrapper-320 {
    display: none;
  }
}
@media (max-width: $breakpoint-mobile530) {
  .dpicker {
    &__wrapper {
      display: none;
    }
    &__wrapper-320 {
      display: flex;

      margin-right: 8px;

      border-radius: 8px;

      background: #f8f8f8;

      .v-input__control {
        font-size: 14px;
        
        padding: 10px 10px 10px 0;

        border-color: #f8f8f8;

        .v-input__slot {
          &:after {
            @include textDecorCream;
          }

          &:before {
            @include textDecorCream;
          }

          .v-input__icon {
            padding-right: 5px;
          }
        }

        @media (max-width: $breakpoint-mobile440) {
          padding: 10px 10px 10px 8px;
        }

        @media (max-width: $breakpoint-mobile375) {
          padding: 10px 0 10px 2px;
        }

      }
      .v-menu {
        .v-menu__content {
          top: 510px !important;
          left: 57px !important;
        }
      }
      .v-date-picker-table {
        height: 234px;

        padding: 0 4px;

        background-color: #f8f8f8;

        .v-date-picker-table--date th {
          padding: 8px 0 8px 0;
        }

        .v-picker {
          .v-card__actions {
            padding: 0;
            justify-content: center;

            .spacer {
              flex-grow: unset;
            }
          }
        }
      }
      .vicon {
        margin: 0 5px 0 5px;

        @media (max-width: $breakpoint-mobile440) {
          margin: 0 0px 0 5px;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-mobile320) {
  .dpicker {
    &__wrapper-320 {
      width: 86px;
    }
  }
}
