@import "../__mixins.scss";

.likes {
  padding: 16px 20px 10px 26px;

  border-radius: 12px;

  background-color: #fff;

  &__span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-second {
      display: none;
    }

    .showall {
      @include generalNormalFont14;

      letter-spacing: 0.592308px;
      text-transform: uppercase;

      outline: none;

      color: #007aff;

    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    padding-top: 9px;

    &-like {
      display: flex;
      flex-basis: 50%;

      padding-top: 10px;

      .container__like {
        display: flex;

        border-bottom: 1px solid #f0f0f0;

        .icon {
          display: flex;
          align-self: start;

          padding-right: 20px;

          .vbutton {
            outline: none;

            background-color: #007aff !important;

            .vicon {
              color: #fff;
            }
          }

          @media (max-width: $breakpoint-mobile440) {
            padding-right: 7px;
          }
        }
        .congratulation {
          &__wrapper {
            &-context {
              @include generalNormalFont16;

              min-height: 76px;
              padding: 0 25px 10px 0;

              letter-spacing: -0.1px;

              color: #007aff;

              @media (max-width: $breakpoint-mobile700) {
                font-size: 15px;
              }

              @media (max-width: $breakpoint-mobile600) {
                font-size: 14px;

                min-height: 50px;
              }

              @media (max-width: $breakpoint-mobile500) {
                font-size: 13px;
              }
            }

            &-sender {
              margin-bottom: 10px;

              .btn-send {
                @include generalNormalFont14;

                letter-spacing: 0.51px;
                text-transform: uppercase;

                outline: none;

                color: #e94747;
              }
            }
          }
        }
      }
    }

    @media (max-width: $breakpoint-mobile600) {
      flex-direction: column;
    }
  }
  .dup-showall {
    display: none;
    
    @include generalNormalFont14;

    letter-spacing: 0.592308px;
    text-transform: uppercase;

    outline: none;

    color: #007aff;
  }
}
@media (max-width: $breakpoint-mobile500) {
  .likes {
    .dup-showall {
      display: block;
    }
    &__span {
      &-first {
        display: none;
      }
      &-second {
        display: block;
      }
      .showall {
        display: none;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.noborder-bottom {
  border-bottom: none !important;
}
.border-bottom {
  border-bottom: 1px solid #f0f0f0;
}
