@import "../_mixins";

.guarantees {
  border-radius: 12px;

  background-color: #fff;

  &__wrapper {
    padding: 16px 20px 20px 26px;

    .guarantees__span {
      margin-bottom: 20px;
    }

    &-guarant {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $breakpoint-mobile600) {
        flex-direction: column;
      }

      .guarantees__wrapper-guarantee {
        display: flex;
        align-items: center;
        flex-basis: 50%;

        margin-bottom: 15px;

        .icon {
          margin-right: 10px;
        }
        .content {
          padding-right: 15px;

          &__title {
            @include generalNormalFont16;

            letter-spacing: -0.116667px;

            color: #000000;

            @media (max-width: $breakpoint-mobile600) {
              font-size: 14px;
            }
          }

          &__text {
            @include generalNormalFont14;

            letter-spacing: -0.116667px;

            color: #444;

            @media (max-width: $breakpoint-mobile600) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-mobile390) {
    &__wrapper {
      display: none;
    }
  }

  .guar__wrapper {
    @media (min-width: $breakpoint-mobile390) {
      display: none;
    }

    .v-expansion-panel {
      border-radius: 12px;

      .v-expansion-panel__container {
        border-radius: 12px;

        .v-card.v-sheet {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
  
        .v-card__text {
          @media (max-width: $breakpoint-mobile390) {
            padding: 0 16px 16px 16px;
          }
        }
      }
    }

    &-cont {
      display: flex;
      flex-direction: column;

      .guar__wrapper-guarantee {
        display: flex;

        margin-bottom: 16px;

        .icon {
          margin-right: 8px;
        }

        .content {
          &__title {
            @include generalNormalFont13;
          }

          &__text {
            font-size: 13px;
          }
        }
      }
    }
  }
}
