<template lang="pug">
    .hours
      v-select(:items="generateHoursArray" placeholder="18" hide-selected)
</template>

<script>
export default {
  computed: {
    generateHoursArray() {
      let arr = [];
      for (let index = 0; index <= 23; index++) {
        if(index >= 0 && index <=9) {
          let elem = "0" + index;
          arr.push(elem);
        }
        if(index > 9) {
          arr.push(index);
        }
      }
      return arr;
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/hourspicker/hoursepicker.scss";
</style>
