<template lang="pug">
    .guarantees
      .guarantees__wrapper
        Span.guarantees__span(:spanTitle="spanTitle")
        .guarantees__wrapper-guarant
          .guarantees__wrapper-guarantee(v-for="(guarantee,i) in guarantees" :key="i")
              .icon
                  img(:src="guarantee.image")
              .content
                  .content__title {{ guarantee.title }}
                  .content__text {{ guarantee.content }}
      .guar__wrapper
        v-expansion-panel
          v-expansion-panel-content(expand-icon="arrow_drop_down")
            <template v-slot:header>
              .guar__wrapper-slot 
                Span(:spanTitle="spanTitle" exSmall)
            </template>
            v-card
              v-card-text
                .guar__wrapper-cont
                  .guar__wrapper-guarantee(v-for="(guarantee,i) in guarantees" :key="i")
                    .icon
                      img(:src="guarantee.image")
                    .content
                      .content__title {{ guarantee.title }}
                      .content__text {{ guarantee.content }}
</template>

<script>
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    guarantees: [
      {
        image: require("../../assets/images/donation.svg"),
        title: "Вернем деньги",
        content: "Если именинник не получит от нас звонок с поздравлением."
      },
      {
        image: require("../../assets/images/phone-call.svg"),
        title: "Гарантия доставки",
        content: "Будем дозваниваться до получателя поздравления 10 раз."
      },
      {
        image: require("../../assets/images/login.svg"),
        title: "Мы против спама",
        content: "Номера телефонов используются только для оказания услуг."
      },
      {
        image: require("../../assets/images/shield.svg"),
        title: "Нашему сервису 7 лет",
        content: "Мы отправили поздравления 2 миллиона раз."
      }
    ],
    spanTitle: "Гарантии"
  }),
  components: {
    Span
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/guarantees/guarantees.scss";
</style>
