<template lang="pug">
  .dpicker
    .dpicker__wrapper
        v-menu(ref="menu" v-model="menu" :close-on-content-click="false"
              :nudge-right="40" :return-value.sync="date" lazy
                transition="scale-transition" offset-y full-width
                min-width="290px")
                    <template v-slot:activator="{ on }">
                        v-icon.vicon insert_invitation
                        v-text-field(:value="computedDateFormattedMomentjs" readonly v-on="on")
                    </template>
                    v-date-picker(v-model="date" no-title scrollable locale="ru-ru")
                        v-spacer
                        v-btn(flat color="primary" @click="$refs.menu.save(date)") Выбрать
                        v-btn(flat color="primary" @click="menu = false") Сбросить
    .dpicker__wrapper-320
        v-menu(ref="menu1" v-model="menu1" :close-on-content-click="false"
              :nudge-right="40" :return-value.sync="date" lazy
                transition="scale-transition" offset-y full-width
                min-width="290px")
                    <template v-slot:activator="{ on }">
                        v-icon.vicon insert_invitation
                        v-text-field(:value="dateFormattedMomentjs320" readonly v-on="on")
                    </template>
                    v-date-picker(v-model="date" no-title scrollable locale="ru-ru")
                        v-spacer
                        v-btn(flat color="primary" @click="$refs.menu1.save(date)") Выбрать
                        v-btn(flat color="primary" @click="menu1 = false") Сбросить
</template>

<script>
import moment from "moment";
export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1: false
  }),
  computed: {
    computedDateFormattedMomentjs() {
      moment.locale("ru");
      return this.date ? moment(this.date).format("D MMMM").toLowerCase() : "";
    },
    dateFormattedMomentjs320() {
      moment.locale("ru");
      return this.date ? moment(this.date).format("D MMM").toLowerCase() : moment(this.date).format("D MMMM").toLowerCase();
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/datepicker/datepicker.scss";
</style>
