<template lang="pug">
    .congratulationMain
        .congratulationMain__wrapper
            .congratulationMain__wrapper-tab
                v-tabs(dark color="#6183FF" show-arrows)
                    v-tabs-slider(color="#E94747")
                    v-tab(v-for="(congratulation,i) in congratulations" :key="i" :href="'#tab-' + i") {{ congratulation }}
                        v-tabs-items
                        v-icon(normal color="white") arrow_drop_down
                        v-tab-item(v-for="(congratulation,i) in congratulations" :key="i" :value="'tab-' + i")
                            v-card(flat)
            .congratulationMain__wrapper-toolbar
              v-toolbar
                v-toolbar-side-icon.congratulationMain__wrapper-toolbar-icon
                v-toolbar-title.congratulationMain__wrapper-toolbar-title Каталог поздравлений
                v-spacer
            .congratulationMain__wrapper-other
              .congratulationMain__wrapper-other-linker
                .congratulationMain__wrapper-other-linker__link
                  v-icon(color="#007AFF") arrow_back
                .congratulationMain__wrapper-other-linker__title {{ linkTitle }}
              .congratulationMain__wrapper-other-span
                Span.congratulationMain__wrapper-other-span-first(:spanTitle="spanTitle" large)
                Span.congratulationMain__wrapper-other-span-second(:spanTitle="spanTitle" exSmall)
              .congratulationMain__wrapper-other-player
                Player
              .congratulationMain__wrapper-other-footer
                .left__content
                  CongratulationText
                .right__content
                  CongratulationSender
</template>

<script>
import CongratulationSender from "@/components/congratulationSender/CongratulationSender.vue";
import CongratulationText from "@/components/congratulationText/CongratulationText.vue";
import Player from "@/components/player/Player.vue";
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    congratulations: [
      "День рождения",
      "Юбилеи",
      "Признания",
      "Свадебные",
      "Розыгрыши",
      "День рождения",
      "Юбилеи",
      "Признания",
      "Свадебные",
      "Розыгрыши"
    ],
    linkTitle: "прикольные",
    spanTitle: `Медведев поздравляет с днем  Медицинского работника
        и желает хорошего здоровья`,
  }),
  components: {
    CongratulationSender,
    CongratulationText,
    Player,
    Span
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/congratulation/congratulation.scss";
</style>
