<template lang="pug">
    .general
        .general__wrapper
            .general__wrapper-element
                Congratulation
            .general__wrapper-element
                Likes
            .general__wrapper-element
                Guarantees
            .general__wrapper-element
                MoreQuestion
            .general__wrapper-element
                Questions
            .general__wrapper-element
                Footer
</template>

<script>
import Congratulation from "@/containers/congratulation/Congratulation.vue";
import Footer from "@/containers/footer/Footer.vue";
import Guarantees from "@/containers/guarantees/Guarantees.vue";
import Likes from "@/containers/likes/Likes.vue";
import MoreQuestion from "@/containers/moreQuestion/MoreQuestion.vue";
import Questions from "@/containers/questions/Questions.vue";
export default {
  components: {
    Congratulation,
    Footer,
    Guarantees,
    Likes,
    MoreQuestion,
    Questions
  }
};
</script>


<style lang="scss" scoped>
@import "../../assets/styles/general/general.scss";
</style>
