<template lang="pug">
    .wrapper
        .wrapper__span
            Span(:spanTitle="spanTitle" small)
        .wrapper__congrat(v-html="content")
        .wrapper__droptab
            v-expansion-panel
                v-expansion-panel-content
                    <template v-slot:header>
                        .wrapper__droptab-context {{ context }}
                    </template>
                    v-card
                        v-card-text(v-html="contentEnd")
        .wrapper__droptab-320
            v-expansion-panel
                v-expansion-panel-content(expand-icon="arrow_drop_down")
                    <template v-slot:header>
                        .wrapper__droptab-320-context {{ context320 }}
                    </template>
                    v-card
                        v-card-text(v-html="contentEnd")

</template>

<script>
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    spanTitle: "Текст поздравления",
    content: `Андрей, сегодня, в твой день<br>
        рождения<br>
        Тебя обнимаю, шлю<br>
        поздравления!<br>
        Ты верь в удачу, и жизнь<br>
        исполнит твои<br>
        Желанья!<br><br>
        В жизни порою<br>
        Так поворотов много,<br>
        Перед тобою<br>
        Прекрасная дорога!<br>
        Пусть тебе светит всегда<br>
        зеленый светофор!<br><br>
        День рождения твой - это<br>
        Праздник чудесный,<br>
        И тебя я хочу порадовать<br>
        `,
        contentEnd: `
        Андрей, сегодня, в твой день<br>
        рождения<br>
        Тебя обнимаю, шлю<br>
        поздравления!<br>
        Ты верь в удачу, и жизнь<br>
        исполнит твои<br>
        Желанья!<br><br>
        В жизни порою<br>
        Так поворотов много,<br>
        Перед тобою<br>
        Прекрасная дорога!<br>
        Пусть тебе светит всегда<br>
        зеленый светофор!<br><br>
        День рождения твой - это<br>
        Праздник чудесный,<br>
        И тебя я хочу порадовать<br>
        ...<br>
        ...<br>
        ...<br>
        ...<br>
        КОНЕЦ`,
        context: "показать полностью",
        context320: "Tекст поздравления"
  }),
  components: {
    Span
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/congratulation/congratulationtext/congratulationtext.scss";
</style>
