<template lang="pug">
    .moreQuestion
        .moreQuestion__wrapper
          Span(:spanTitle="spanTitle")
          .moreQuestion__wrapper-cont
              v-expansion-panel.moreQuestion__wrapper-cont-panel
                  v-expansion-panel-content(v-for="(question, i) in questions" :key="i" expand-icon="arrow_drop_down")
                      <template v-slot:header>
                        .moreQuestion__wrapper-cont-slot {{ question }}
                      </template>
                      v-card
                          v-card-text.moreQuestion__wrapper-cont-text Аудио поздравления - это классные поздравления с Днем рождения, юбилеем или 
                              | любым другим праздником. Поздравление доставляется получателю обычным входящим звонком
                              | на его телефон. Яркие эмоции и хорошее настроение гарантированы!
        .mq__wrapper
          v-expansion-panel
            v-expansion-panel-content(expand-icon="arrow_drop_down")
              <template v-slot:header>
                .mq__wrapper-slot
                  Span(:spanTitle="spanTitle" exSmall)
              </template>
                v-card
                  v-card-text
                    .mq__wrapper-cont
                      v-expansion-panel.mq__wrapper-cont-panel
                        v-expansion-panel-content(v-for="(question, i) in questions" :key="i" expand-icon="arrow_drop_down")
                          <template v-slot:header>
                            .mq__wrapper-cont-slot {{ question }}
                          </template>
                          v-card
                            v-card-text.mq__wrapper-cont-text Аудио поздравления - это классные поздравления с Днем рождения, юбилеем или 
                              | любым другим праздником. Поздравление доставляется получателю обычным входящим звонком
                              | на его телефон. Яркие эмоции и хорошее настроение гарантированы!
</template>

<script>
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    questions: [
      "Что такое аудио поздравление?",
      "Какое время доставки выбрать, если получатель живет в другом часовом поясе?",
      "Какое время доставки выбрать, если получатель живет в другом часовом поясе?"
    ],
    spanTitle: "Еще вопросы?"
  }),
  components: {
    Span
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/morequestions/morequestions.scss";
</style>
