<template lang="pug">
  .questions
    .questions__wrapper
      Span(:spanTitle="spanTitle")
      .questions__wrapper-status Ответим с {{ timeOpen }} до {{ timeClosed }} без выходных
      .questions__wrapper-cont
        .questions__wrapper-cont-buttons(v-for="(button, i) in buttons" :key="i" expand-icon="arrow_drop_down")
            v-btn(round :color="button.color" 
                  :class="'questions__wrapper-cont-buttons-single' + (i+1)") {{ button.title }}
    .tab__wrapper
      v-expansion-panel
        v-expansion-panel-content(expand-icon="arrow_drop_down")
          <template v-slot:header>
            .tab__wrapper-slot 
              Span(:spanTitle="spanTitle" exSmall)
          </template>
          v-card
            v-card-text
              .tab__wrapper-status Ответим с {{ timeOpen }} до {{ timeClosed }} без выходных
              .tab__wrapper-cont
                .tab__wrapper-cont-buttons(v-for="(button, i) in buttons" :key="i" expand-icon="arrow_drop_down")
                  v-btn(round :color="button.color" 
                        :class="'tab__wrapper-cont-buttons-single' + (i+1)") {{ button.title }}
</template>

<script>
import Span from "@/components/span/Span.vue";
export default {
  data() {
    return {
      buttons: [
        { title: "8 (499) 380-74-22", color: "#fff" },
        { title: "Написать в Viber", color: "#7B529D" },
        { title: "Написать Вконтакте", color: "#5B80B3" },
        { title: "Написать в WhatsApp", color: "#1FA900" }
      ],
      spanTitle: "Остались вопросы?",
      timeOpen: "09:00",
      timeClosed: "21:00"
    };
  },
  components: {
    Span
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/questions/questions.scss";
</style>
