#app {
  position: fixed;
  top: 50%;
  left: 50%;

  overflow-y: auto;

  max-width: 800px;
  width: 100%;
  max-height: 540px;

  transform: translate(-50%, -50%);
  padding: 20px 40px;
  
  background-color: #f2f2f2;
}
