<template lang="pug">
    .likes
        .likes__span
            Span.likes__span-first(:spanTitle="spanTitle")
            Span.likes__span-second(:spanTitle="spanTitle" exSmall)
            button.showall(@click="showAll") показать все
        .likes__wrapper
            .likes__wrapper-like(v-for="(like,i) in allLikes" :key="i")
                transition(name="fade")
                  .container__like(:class=`{'noborder-bottom': attachClassNoBorder(i)}`)
                    .icon(v-if="like.choice")
                        v-btn.vbutton(outline fab small color="#007aff" @click="switchButton(i)")
                          v-icon.vicon(medium) play_arrow
                    .icon(v-else)
                      v-btn.vbutton(outline fab small color="#007aff" @click="reverseSwitch(i)")
                          v-icon.vicon(medium) pause
                    .congratulation
                      .congratulation__wrapper
                          .congratulation__wrapper-context {{ like.title }}
                          .congratulation__wrapper-sender
                              button.btn-send отправить
        button.dup-showall(v-if="showAllVisible" @click="showAll") показать все
</template>

<script>
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    containerVisible: false,
    likes: [
      {
        title: "Поздравление с Днем Рождения (звонок из полиции)",
        choice: true
      },
      {
        title: "Для прерксной королевы красоты! (длинная песня)",
        choice: true
      },
      {
        title:
          "Пусть в День Рождения исполниться любое желание! (длинная песня)",
        choice: true
      },
      {
        title: "Пусть будет твоя жизнь такой, как мечталось! (песня)",
        choice: true
      },
      {
        title: "Поздравление с Днем Рождения (звонок из полиции)",
        choice: true
      },
      {
        title: "Для прерксной королевы красоты! (длинная песня)",
        choice: true
      },
      {
        title:
          "Пусть в День Рождения исполниться любое желание! (длинная песня)",
        choice: true
      },
      {
        title: "Пусть будет твоя жизнь такой, как мечталось! (песня)",
        choice: true
      }
    ],
    spanTitle: "Вам также понравится",
    showAllVisible: true
  }),
  methods: {
    showAll(){
      this.containerVisible = !this.containerVisible;
      this.showAllVisible = !this.showAllVisible;
    },
    switchButton(index) {
      this.likes.forEach((item, i) => {
        if (index == i) {
          item.choice = !item.choice;
        }
      });
    },
    reverseSwitch(index) {
      this.likes.forEach((item, i) => {
        if (index == i) {
          item.choice = !item.choice;
        }
      });
    },
    attachClassNoBorder(index){
      return this.allLikes.length - index <= 2;
    }
  },
  computed: {
    allLikes(){
      let result = this.likes.slice(0,4);
      if(this.containerVisible){
        return this.likes;
      }
      return result;
    }
  },
  components: {
    Span
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/likes/likes.scss";
</style>
