<template lang="pug">
    .player
        .player__wrapper
            .player__wrapper-button
                .icon(v-if="play")
                    v-btn.vbutton(outline fab large color="#007aff" @click="switchButton()")
                        v-icon.vicon(large) play_arrow
                .icon(v-else)
                    v-btn.vbutton(outline fab large color="#007aff" @click="reverseSwitch()")
                        v-icon.vicon(large) pause
            .player__wrapper-details
                .player__wrapper-details-progress
                  v-progress-linear.vprogress(v-model="valueDeterminate" color="#6183FF")
                  .player__wrapper-details-progress-timer {{ duration }}
                .player__wrapper-details-description(:class="{ visible: !play }") {{ description }}
        .player__wrapper-320
            .player__wrapper-320-button
                .icon(v-if="play")
                    v-btn.vbutton(outline fab small color="#007aff" @click="switchButton()")
                        v-icon.vicon(small) play_arrow
                .icon(v-else)
                    v-btn.vbutton(outline fab small color="#007aff" @click="reverseSwitch()")
                        v-icon.vicon(small) pause
            .player__wrapper-320-details
                .player__wrapper-320-details-progress
                  v-progress-linear.vprogress(v-model="valueDeterminate" color="#6183FF")
                  .player__wrapper-320-details-progress-timer {{ duration }}
                .player__wrapper-320-details-description(:class="{ visible: !play }") {{ description }}
</template>

<script>
export default {
  data: () => ({
    description: "идет воспроизведение",
    duration: "00:12",
    play: true,
    valueDeterminate: 35
  }),
  methods: {
    switchButton() {
      this.play = !this.play;
    },
    reverseSwitch() {
      this.play = !this.play;
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/player/player.scss";
</style>
