@import "../_mixins";

.questions {
  &__wrapper {
    border-radius: 12px;

    padding: 16px 20px 20px 26px;

    background: #e3f2fd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    &-span {
      display: flex;
      justify-content: flex-start;
    }

    &-status {
      @include generalNormalFont14;
      margin-bottom: 5px;

      letter-spacing: -0.0933333px;

      color: #000000;

      @media (max-width: $breakpoint-tablet) {
        font-size: 13px;
      }
    }

    &-cont {
      @include flexJCAICenter;
      flex-direction: column;

      &-buttons {
        &-single1 {
          @include generalNormalFont16;
          text-align: center;

          width: 320px;

          padding: 6px 0;
          border-radius: 24px;

          color: #000;

          .v-btn__content {
            text-transform: capitalize;
          }

          @media (max-width: $breakpoint-tablet) {
            font-size: 14px;

            width: 260px;
          }

          @media (max-width: $breakpoint-mobile600) {
            width: 240px;
          }

          @media (max-width: $breakpoint-mobile440) {
            width: 220px;
          }
        }
        &-single2 {
          @include generalNormalFont16;
          text-align: center;

          width: 320px;

          padding: 6px 0;
          border-radius: 24px;

          color: #fff !important;

          .v-btn__content {
            text-transform: capitalize;
          }

          @media (max-width: $breakpoint-tablet) {
            font-size: 14px;

            width: 260px;
          }

          @media (max-width: $breakpoint-mobile600) {
            width: 240px;
          }

          @media (max-width: $breakpoint-mobile440) {
            width: 220px;
          }
        }
        &-single3 {
          @include generalNormalFont16;
          text-align: center;

          width: 320px;

          padding: 6px 0;
          border-radius: 24px;

          color: #fff !important;

          .v-btn__content {
            text-transform: capitalize;
          }

          @media (max-width: $breakpoint-tablet) {
            font-size: 14px;

            width: 260px;
          }

          @media (max-width: $breakpoint-mobile600) {
            width: 240px;
          }

          @media (max-width: $breakpoint-mobile440) {
            width: 220px;
          }
        }
        &-single4 {
          @include generalNormalFont16;
          text-align: center;

          width: 320px;

          padding: 6px 0;
          border-radius: 24px;

          color: #fff !important;

          .v-btn__content {
            text-transform: capitalize;
          }

          @media (max-width: $breakpoint-tablet) {
            font-size: 14px;

            width: 260px;
          }

          @media (max-width: $breakpoint-mobile600) {
            width: 240px;
          }

          @media (max-width: $breakpoint-mobile440) {
            width: 220px;
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-mobile390) {
    .questions {
      &__wrapper {
        display: none;
      }
    }
  }

  .tab__wrapper {
    border-radius: 12px;

    @media (min-width: $breakpoint-mobile390) {
      display: none;
    }

    .v-expansion-panel {
      border-radius: 12px;

      .v-expansion-panel__container {
        border-radius: 12px;
        
        background: #e3f2fd;
      }

      .v-expansion-panel__header {
        border-radius: 12px;

        padding-right: 0;

        background: #e3f2fd;

        &__icon {
          margin-right: 22px;
        }
      }

      .v-card.v-sheet {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        background: #e3f2fd;

        .v-card__text {
          .tab__wrapper-status {
            padding-left: 10px;
          }

          .tab__wrapper-cont {
            @include flexJCAICenter;
            flex-direction: column;
      
            &-buttons {
              &-single1 {
                @include generalNormalFont16;
                text-align: center;
      
                width: 320px;
      
                padding: 6px 0;
                border-radius: 24px;
      
                color: #000;
      
                .v-btn__content {
                  text-transform: capitalize;
                }
      
                @media (max-width: $breakpoint-tablet) {
                  font-size: 14px;
      
                  width: 260px;
                }
      
                @media (max-width: $breakpoint-mobile600) {
                  width: 240px;
                }
      
                @media (max-width: $breakpoint-mobile440) {
                  width: 220px;
                }
              }
              &-single2 {
                @include generalNormalFont16;
                text-align: center;
      
                width: 320px;
      
                padding: 6px 0;
                border-radius: 24px;
      
                color: #fff !important;
      
                .v-btn__content {
                  text-transform: capitalize;
                }
      
                @media (max-width: $breakpoint-tablet) {
                  font-size: 14px;
      
                  width: 260px;
                }
      
                @media (max-width: $breakpoint-mobile600) {
                  width: 240px;
                }
      
                @media (max-width: $breakpoint-mobile440) {
                  width: 220px;
                }
              }
              &-single3 {
                @include generalNormalFont16;
                text-align: center;
      
                width: 320px;
      
                padding: 6px 0;
                border-radius: 24px;
      
                color: #fff !important;
      
                .v-btn__content {
                  text-transform: capitalize;
                }
      
                @media (max-width: $breakpoint-tablet) {
                  font-size: 14px;
      
                  width: 260px;
                }
      
                @media (max-width: $breakpoint-mobile600) {
                  width: 240px;
                }
      
                @media (max-width: $breakpoint-mobile440) {
                  width: 220px;
                }
              }
              &-single4 {
                @include generalNormalFont16;
                text-align: center;
      
                width: 320px;
      
                padding: 6px 0;
                border-radius: 24px;
      
                color: #fff !important;
      
                .v-btn__content {
                  text-transform: capitalize;
                }
      
                @media (max-width: $breakpoint-tablet) {
                  font-size: 14px;
      
                  width: 260px;
                }
      
                @media (max-width: $breakpoint-mobile600) {
                  width: 240px;
                }
      
                @media (max-width: $breakpoint-mobile440) {
                  width: 220px;
                }
              }
            }
          }

          @media (max-width: $breakpoint-mobile360) {
            padding: 4px 16px 16px 16px;
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-mobile390) {
    .questions.tab__wrapper {
      display: none;
    }
  }
}
