$breakpoint-tablet: 768px;
$breakpoint-mobile700: 700px;
$breakpoint-mobile600: 600px;
$breakpoint-mobile560: 560px;
$breakpoint-mobile530: 530px;
$breakpoint-mobile500: 500px;
$breakpoint-mobile460: 460px;
$breakpoint-mobile440: 440px;
$breakpoint-mobile411: 411px;
$breakpoint-mobile390: 390px;
$breakpoint-mobile375: 375px;
$breakpoint-mobile360: 360px;
$breakpoint-mobile320: 320px;

@mixin generalNormalFont11 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;

  line-height: normal;

  text-align: center;
  letter-spacing: -0.06875px;
}

@mixin generalNormalFont12 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  line-height: 14px;
}

@mixin generalNormalFont13 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  line-height: 18px;
}

@mixin generalNormalFont14 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  line-height: 16px;
}

@mixin generalNormalFont15 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  line-height: 18px;
}

@mixin generalNormalFont16 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  line-height: 19px;
}

@mixin generalNormalFont21 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;

  line-height: 21px;
}

@mixin generalNormalFont24 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;

  line-height: 28px;
}

@mixin flexJCAICenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textDecorBlue {
  text-decoration-color: #007aff !important;
  border: 1px solid #007aff;
  border-color: #007aff;
}

@mixin textDecorCream {
  border: none !important;
  border-color: #f8f8f8 !important;
  text-decoration-color: #f8f8f8 !important;
}
