<template lang="pug">
    .footer
        .footer__wrapper
            .footer__wrapper-copywrite(v-html="footerTitle")
            .footer__wrapper-links
                router-link.link(to="/tos") {{ agreement }}
                router-link.link(to="/privacy") {{ privacy }}
</template>

<script>
export default {
  data: () => ({
    footerTitle: "&copy; ИП Карманов А.Э., 2018 г. Все права защищены.",
    agreement: "Пользовательское соглашение",
    privacy: "Политика конфиденциальности"
  }),
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/footer/footer.scss"
</style>
