@import "../_mixins";

.congratulationMain {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  background-color: #fff;
  &__wrapper {
    &-toolbar {
      display: none;

      .v-toolbar {
        box-shadow: none;

        background-color: #fff;

        &__content {
          height: 43px !important;

          .v-btn--icon {
            color: #007aff;
          }

          .v-toolbar__title {
            @include generalNormalFont15;

            margin-left: 0;

            color: #007aff;
          }
        }
      }
    }

    &-other {
      padding: 25px 29px 32px 27px;
      &-linker {
        display: flex;
        align-items: center;

        padding-bottom: 10px;
        &__link {
          padding-right: 12px;

          cursor: pointer;
        }
        &__title {
          @include generalNormalFont14;

          letter-spacing: 0.592308px;
          text-transform: uppercase;

          color: #007aff;
          cursor: pointer;
        }
      }

      &-span {
        &-second {
          display: none;
        }
      }
      &-player {
        margin-bottom: 25px;
      }
      &-footer {
        display: flex;

        .left__content {
          display: flex;
          flex-direction: column;

          width: 318px;

          margin-right: 50px;

          @media (max-width: $breakpoint-tablet) {
            width: 100%;

            margin-right: 0;
          }

          @media (max-width: $breakpoint-mobile440) {
            width: 100%;

            margin-right: 0;
          }
        }

        .right__content {
          flex-grow: 1;

          @media(max-width: $breakpoint-tablet) {
            flex-grow: 0;
          }

        }
      }

      @media (max-width: $breakpoint-mobile460) {
        padding: 16px 17px 0 17px;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .congratulationMain {
    &__wrapper {
      &-tab {
        display: none;
      }

      &-toolbar {
        display: block;
      }

      &-other {
        &-span {
          &-first {
            display: none;
          }

          &-second {
            display: block;
          }

        }

        &-footer {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile440) {
  .congratulationMain {
    &__wrapper {
      &-tab {
        display: none;
      }

      &-toolbar {
        display: block;
      }

      &-other {
        &-span {
          &-first {
            display: none;
          }

          &-second {
            display: block;
          }

        }

        &-footer {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.theme--dark.v-tabs__bar .v-tabs__div {
  @include generalNormalFont16;

  text-align: center;
  text-transform: none;

  color: #ffffff;
}

.v-tabs__wrapper--show-arrows {
  margin-left: 30px;
  margin-right: 30px;
}
