<template lang="pug">
    .sender
        .sender__wrapper
            Span.sender__wrapper-first(:spanTitle="spanTitle" small)
            Span.sender__wrapper-second(:spanTitle="spanTitle" exSmall)
            .sender__wrapper-condata {{ congratData }}
            .sender__wrapper-phone
              form
                .phone__receiver
                  span.phone__description {{ receiver }}
                  v-text-field(prefix="+7(" v-model="receiver_phone")
                .phone__question
                  Span(:spanTitle="titleQuestion" exSmall)
                .phone__datetime
                  .phone__datetime-dp
                    DatePicker
                  .phone__datetime-hours
                    HoursPicker
                  .phone__datetime-minutes
                    MinutesPicker
                .phone__sender
                  v-text-field(placeholder="Ваш телефон" v-model="sender_phone")
                .phone__sub-btn
                  v-btn.phone__sub-btn-send(color="#6183FF" block large) отправить

</template>

<script>
import DatePicker from "@/components/datePicker/DatePicker.vue";
import HoursPicker from "@/components/hoursPicker/HoursPicker.vue";
import MinutesPicker from "@/components/minutesPicker/MinutesPicker.vue";
import Span from "@/components/span/Span.vue";
export default {
  data: () => ({
    congratData:
      "Поздравление будет доставлено в виде входящего звонка на телефон получателя",
    receiver: "Номер получателя",
    receiver_phone: "",
    spanTitle: "Отправить поздравление",
    sender_phone: "",
    titleQuestion: "Когда позвонить?"
  }),
  props: {
    shortDate: {
      type: Boolean,
      default: false
    }
  },
  components: {
    DatePicker,
    HoursPicker,
    MinutesPicker,
    Span
  }
};
</script>

<style lang="scss">
@import "../../assets/styles//congratulation/congratulationsender/congratulationsender.scss";
</style>
